<div class="pokemon-container container">
    <div class="is-size-5 has-text-centered pokemon-header">
        <h1>
            All pokemons
        </h1>
    </div>

    <table class="all-pokemon container center table ">
        <thead class="pokemon-head">
            <tr class="pokemon-head-row">
                <th>ID</th>
                <th>Pokemon</th>
                <th>Height</th>
                <th>Weight</th>
                <th>Base Experience</th>
                <th>Sprite</th>
            </tr>
        </thead>
        <tbody class="pokemon-body">
            <% @pokemons.each do |pokemon|%>
            <tr class="pokemon-body-row">
                <td class="pokemon-body-data"><%= pokemon.id %></td>
                <td><%= pokemon.name %></td>
                <td><%= pokemon.height %></td>
                <td><%= pokemon.weight %></td>
                <td><%= pokemon.base_experience %></td>
                <% begin %>
                <td><%= link_to "View Details", pokemon_path(pokemon) %></td>
                <% end %>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>