<div class="pokemon-container container">
    <div class="is-size-5 has-text-centered pokemon-header">
        <h1>
            All pokemons
        </h1>
    </div>

    <div class="center has-text-centered search-div">
        <input class="input is-info is-inverted search-input" id="pokemon-search" placeholder="Search for a pokemon" />
        <div id="search-results" class="dropdown-menu container center has-text-centered">
            <div class="dropdown-content">
            </div>
        </div>
    </div>
    <table class="all-pokemon container center table ">
        <thead class="pokemon-head">
            <tr class="pokemon-head-row">
                <th>ID</th>
                <th>Pokemon</th>
                <th>Height</th>
                <th>Weight</th>
                <th>Base Experience</th>
                <th>Sprite</th>
            </tr>
        </thead>
        <tbody class="pokemon-body">
            <% @pokemons.each do |pokemon|%>
            <tr class="pokemon-body-row">
                <td class="pokemon-body-data"><%= pokemon.id %></td>
                <td><%= pokemon.name %></td>
                <td><%= pokemon.height %></td>
                <td><%= pokemon.weight %></td>
                <td><%= pokemon.base_experience %></td>
                <% begin %>
                <td><%= link_to "View Details", pokemon_path(pokemon) %></td>
                <% end %>
            </tr>
            <% end %>
        </tbody>
    </table>
    <nav class="pagination is-centered is-info is-inverted">
        <% if @pokemons.prev_page %>
        <%= link_to "← Previous", pokemons_path(page: @pokemons.prev_page), class:"pagination-previous #{"is-disabled" unless  @pokemons.prev_page}" %>
        <% else %>
        <a class="pagination-previous" disabled>← Previous</a>
        <% end %>
        <% if @pokemons.next_page %>
        <%= link_to "Next →", pokemons_path(page: @pokemons.next_page), class:"pagination-next #{"is-disabled" unless  @pokemons.next_page}" %>
        <% else %>
        <a class="pagination-next" disabled>Next →</a>
        <% end %>

        <ul class="pagination-list">
            <% (1..@pokemons.total_pages).each do |page_num| %>
            <%= link_to page_num, pokemons_path(page: page_num), class:"pagination-link #{page_num == @pokemons.current_page ? "is-current" : ""}" %>
            <% end %>
        </ul>
    </nav>
</div>